/* Default/Fallback values (optional, as data-theme should always be set by JS) */
:root {
  --background: #ffffff; /* Light theme default background */
  --foreground: #171717; /* Light theme default foreground */
  /* Add any other global CSS variables your app uses that might not be theme-dependent */
}

html[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
  /* Define any other light-theme specific variables here */
  color-scheme: light;
}

html[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  /* Define any other dark-theme specific variables here */
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
